body{
    background-image: radial-gradient(circle at 0% 0%, #8e898b 0, #8c8186 10%, #877881 20%, #826f7c 30%, #7b6578 40%, #725b75 50%, #685272 60%, #5c4a70 70%, #4f436f 80%, #403e6e 90%, #2e3a6e 100%);
    background-repeat: repeat-x;
    background-position: right top;
    background-attachment: fixed;
}
.divisor{
    margin: 3em;
}
.divisor .titulo{
    font-size: 2.5em;
    border-top: 3px inset #322030;
    background-color: #d1cece;
    border-radius: 15px;
    padding: 1em;
    padding-right: 15em;
    padding-left: 13em;
    text-align: center; 
    margin-left: auto;
    margin-right: auto; 
}

main{
    margin: 3em;
}

a{
    text-decoration: none;
}

.oqform,
.tipos,
.inputs,
.redes{
    padding: 0.5em;
    border-top: 3px inset #322030;
    border-radius: 15px;
    background-color: #d1cece;
    font-size: 3em;
}

.oqform{
    text-indent: 1em;
}

.btn-2{
    margin-top: 3em;
}

.fab{
    color: black;
}
.btn-1,
.btn-2 {
    color: white;
    border-radius: 8px;
    border: 2px solid #4f436f;
    margin-left: 43em;
    padding: 2em;
    background: #322030;
    background: linear-gradient(0deg, #8e898b 0%, #2e3a6e 100%);
    border: none;
  }
  .btn-1:hover,
  .btn-2:hover {
     background: #322030;
    background: linear-gradient(0deg, #322030 0%, #d1cece 100%);
  } 

input{
    width: 100%;
    height: 3em;
}